* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../pictures/8eb93e7ffdb7ea45509abc04563b726e.jpg");
    background-size: cover;
    background-position: 25% 25%;
}
h1,
div {
    text-align: center;
}
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    gap: 0 5px;
}
input {
    outline: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.valid {
    border: 2px solid green;
}
.invalid {
    border: 2px solid red;
}

fieldset {
    display: flex;
    flex-direction: row;
}
span {
    min-width: 150px;
    margin: 20px;
}
.phone-fieldset {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone-inputs {
    display: flex;
    flex: 1;
    gap: 10px;
}

.changeTown {
    max-width: 30px;
}
main {
    border: 2px solid black;
    box-shadow: 0 0 20px;
}

h1,
.contactParagraph {
    display: flex;
    justify-content: flex-start;
    margin: 30px 20px;
    padding: 0 10px;
    font-size: 13px;
}

textarea {
    width: 100%;
    min-height: 100px;
}
button {
    margin: 20px 10px 30px 205px;
    background: transparent;
    border: 2px solid white;
    color: white;
    height: 30px;
    cursor: pointer;
}
select {
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 20px;
    font-weight: bold;
}
